.main_container{
    display: flex;
    flex-flow: column;
    gap: 40px;
    max-width: 500px;
    border: 1px solid #a8a0a0;
    border-radius: 20px;
    margin: 0 auto;
    padding: 20px;
}
.header{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.balance{
    font-size: 18px;
    text-align: center;

}
.body{
    display: flex;
    border-top: 1px solid grey;
}
.address{
    font-size: 18px;
    text-align: center;
    word-break: break-all;
}
@media screen and (max-width: 450px){
    .main_container{
        width: 80%;
    }

}
